:root {
	--color-green100: #246667;
	--color-green200: #114f51;
	--color-gray: #202327;
	--color-green: #b2bc73;
	--color-begeviy: #a99e8a;
	--color-gold100: #ffe79f;
	--color-gold200: #c19453;

	--container: 1300px;
}

html {
	font-size: 16px;
	font-family: 'Lato';
}

body {
	overflow-x: hidden;
	position: relative;
  }

main {
	padding-bottom: 80px;
}

*, *:hover, *:active, *:after {
	transition: .2s;
}

.container {
	width: 100vw;
	padding-left: calc(50vw - var(--container)/2);
	padding-right: calc(50vw - var(--container)/2);
}


.background {
	width: 100vw;
	height: 100vh;
}

.background__image {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.button__fixed{
	position: sticky;
	top: 93vh;
	left: 90vw;
	margin: 20px 20px -40px 0;
}

.title {
	font-weight: 600;
	font-size: 2rem;
	color: var(--color-gold200);
}

.text {
	font-weight: 400;
	font-size: 1.125rem;
	color: var(--color-gray);
}

.button {
	border: 2px solid var(--color-gold200);
	background-color: var(--color-gold200);
	padding: 10px 15px;
	font-size: 1.125rem;
	font-weight: 500;
	border-radius: 20px;
}

.button:hover{
	background-color: transparent;
}

.header {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr;
	align-items: center;
	position: absolute;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ffe79f80;
}

.header__logo {
	height: 40px;
}

.header__list {
	display: grid;
	grid-auto-flow: column;
}

.header__item {
	display: flex;
	justify-content: center;
}

.header__link {
	display: inline-block;
	position: relative;
}

.header__link::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 0%;
	border-radius: 2px;
	background-color: var(--color-gold200);
}

.header__link:hover::after {
	width: 100%;
}

.header__text {
	font-weight: 500;
	font-size: 1.25rem;
}

.header__link:hover .header__text {
	font-weight: 500;
}

.header__link:active .header__text {
	color: var(--color-gold200);
}

.footer{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 2fr;
	gap: 0 100px;
	background-color: var(--color-gray);
	min-height: 350px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer__logo {
	max-height: 100px;
	align-self: center;
}

.footer__nav {
	display: grid;
	grid-auto-flow: column;
	height: 100%;
	width: auto;
}

.footer__list {
	display: grid;
}

.footer__titles {
	font-size: 1.5rem;
	color: white;
}

.footer__item {
}

.footer__link {
	display: inline-block;
}

.footer__text {
	color: white;
	font-size: 1rem;
}

.footer__link:hover .footer__text {
	color: var(--color-gold200)
}