.hero {
	display: grid;
	grid-auto-flow: column;
	position: relative;
	top: -600px;
}

.hero__title-wrapper {
	position: relative;
	justify-self: start;
	margin-left: 40px;
}

.hero__title-wrapper::before {
	content: '';
	position: absolute;
	bottom: 18px;
	height: 240px;
	width: 5px;
	border-radius: 3px;
	background-color: black;
}

.hero__logo {
	height: 240px;
	justify-self: end;
	align-self: center;
}

.hero__title {
	position: relative;
	font-size: 10.625rem;
	font-weight: 300;
	z-index: 2;
	text-align: center;
	justify-self: start;
	margin-left: 40px;
}

.hero__subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 3.75rem;
	font-weight: 300;
	z-index: 2;
	justify-self: start;
}

.hero__subtitle::after{
	content: '';
	width: 100px;
	height: 3px;
	background-color: black;
	margin-left: 30px;
	border-radius: 2px;
}

.hero__subtitle::before{
	content: '';
	width: 100px;
	height: 3px;
	background-color: black;
	margin-right: 30px;
	border-radius: 2px;
}

.advantages {
	margin-top: -100px;
}

.advantages__title {
	text-align: center;
	color: var(--color-gold200);
}

.advantages__subtitle {
	font-weight: 500;
	font-size: 1.25rem;
	color: black;
	margin-top: 30px;
	text-align: center;
}

.advantages__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 40px;
	margin-top: 100px;
}

.advantages__wrapper_work {
	grid-template-columns: repeat(2, 1fr);
}

.advantages__wrapper_work .advantages__item {
	max-width: 450px;
	justify-self: center;
}

.advantages__item {
	display: grid;
	grid-template-rows: 60px auto 1fr;
	justify-items: center;
	align-items: start;
	gap: 20px 0;
}

.advantages__image {
	height: 60px;
}

.advantages__card-titel {
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--color-gold200);
}

.advantages__card-text {
	text-align: center;
}

.gallery {
	position: relative;
	min-height: 400px;
	padding-top: 80px;
	margin-top: 80px;
	padding-bottom: 80px;
}

.gallery__background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	z-index: -1;
}

.gallery__background-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.gallery__title{
	text-align: center;
	color: black;
	font-size: 2.25rem;
	font-weight: 500;
}

.gallery__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	gap: 50px 0;
	background-color: #ffe79f80;
	margin-top: 80px;
	padding: 60px 20px;
	border-radius: 30px;	
}

.gallery__item {
	max-width: 400px;
}

.gallery__image {
	width: 400px;
	height: 280px;
	border-radius: 20px;
	object-fit: cover;
}

.gallery__inner {
	margin-top: 5px;
}

.gallery__name {
    font-size: 1.25rem;
	margin-top: 20px;
}

.gallery__button {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

.services {
	padding-top: 120px;
	padding-bottom: 80px;
	margin-bottom: 150px;
}

.services__title {
	text-align: center;
	color: var(--color-gold200);
}

.services__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 30px;
	margin-top: 80px;
}

.services__card {
	border: 1px solid var(--color-gold200);
	border-radius: 20px;
	justify-self: center;
	width: 100%;
	min-height: 200px;
	transition: .1s;
}

.services__card:hover {
	border: 8px solid var(--color-gold200);
}

.services__link {
	display: grid;
	justify-items: center;
	gap: 20px 0;
	height: 100%;
	width: 100%;
} 

.services__icons {
	align-self: end;
}

.services__text {	
	font-weight: 500;
	font-size: 1.5rem;
}

.call {
	padding-top: 100px;
}

.call__title {
	text-align: center;
}

.call__form {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	margin-top: 60px;
}

.call__input {
	border: 2px solid var(--color-gold200);
	border-radius: 20px 0 0 20px;
	padding: 10px 15px;
}

.call__button {
	height: 100%;
	border-left: none;
	border-radius: 0 20px 20px 0;
	padding: 0 15px;
}

